<div class="row">
  <div class="col-md-4">
    <%= image_tag current_user.avatar_url(300), class: "gravatar" %>
  </div>
  <div class="col-md-8">
    <h1>Score</h1>
    <p></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>History</h1>
  </div>
</div>

<p></p>
