<div class="row">
  <div class="col-md-4">
    <%= image_tag current_user.avatar_url(300), class: "gravatar" %>
  </div>
  <div class="col-md-8">
    <h1>Score</h1>
    <h2 style="color:green">87% correct!</h2>
    <h2>'Fantasy God'</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>History</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Result</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tr>
        <td>Calvin Johnson</td>
        <td>Julio Jones</td>
        <td>Correct</td>
      </tr>
      <tr>
        <td>Marshawn Lynch</td>
        <td>Adrian Peterson</td>
        <td>Incorrect</td>
      </tr>
      <tr>
        <td>Drew Brees</td>
        <td>Peyton Manning</td>
        <td>Incorrect</td>
      </tr>
      <tr>
        <td>Arian Foster</td>
        <td>Mark Ingram</td>
        <td>Correct</td>
      </tr>
    </table>
  </div>
</div>

<p></p>
