<div class="container">
  <h2>Current Active Leaders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Score</th>
        <th>Last Active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>pineapple@gmail.com</td>
        <td>98%</td>
        <td>10 hrs ago</td>
      </tr>
      <tr>
        <td>orange@gmail.com</td>
        <td>90%</td>
        <td>10 mins ago</td>
      </tr>
      <tr>
        <td>banana@gmail.com</td>
        <td>50%</td>
        <td>8 years ago</td>
      </tr>
    </tbody>
  </table>
</div>
