<div class="container">
  <h2>Current Active Leaders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Score</th>
        <th>Last Active</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td><%= user.email %></td>
        <td><%= rand(60..100) %>%</td>
        <td><%= rand(1..15) %> hrs ago</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
