<br>
 <div class="jumbotron">
   <h1>Fantasy Start</h1>
   <p>Get the advice you need before game day!</p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Personal scoring system <span class="glyphicon glyphicon-equalizer"></span></h2>
     <p>Accumulate points and be the MVP of fantasy football!</p>
   </div>
   <div class="col-md-4">
     <h2>Leaderboards</h2>  <span class="glyphicon glyphicon-sort-by-order"></span>
     <p> Compete with your friends and other users for the top spots.</p>
   </div>
   <div class="col-md-4">
     <h2>Get advice from other NFL enthusiasts.  <span class="glyphicon glyphicon-education"></span></h2>
     <p>Take your team from last to first in one week!</p>
   </div>
 </div>
