<p id="notice"><%= notice %></p>

<h1>Available Matchups</h1>

<div class="col-md-12">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Submit</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tr>
      <td>Calvin Johnson
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>Julio Jones
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Submit</button>
      </td>
    </tr>
    <tr>
      <td>Marshawn Lynch
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>Adrian Peterson
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Submit</button>
      </td>
    </tr>
    <tr>
      <td>Drew Brees
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>Peyton Manning
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Submit</button>
      </td>
    </tr>
    <tr>
      <td>Arian Foster
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>Mark Ingram
        <div class="checkbox">
          <label><input type="checkbox" value="">Pick</label>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Submit</button>
      </td>
    </tr>
  </table>
</div>
