<h1>New Matchup</h1>
<br />
<br />
<br />
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
      <input type="text" class="form-control" placeholder="Player 1">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
      <input type="text" class="form-control" placeholder="Player 2">
    </div>
  </div>
</div>
<br />
<br />
<%= link_to 'Back', matchups_path %>
