<h1>New Matchup</h1>

<br />
<br />
<br />
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
      <input type="text" class="form-control" placeholder="Player 1">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
      <input type="text" class="form-control" placeholder="Player 2">
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/12497.png&w=350&h=254" alt="...">
      <div class="caption">
        <h3>Player name: A.Foster <%= @player_name %></h3>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10456.png&w=350&h=254" alt="...">
      <div class="caption">
        <h3>Player name: M.Lynch</h3>
        <p>Targets per game:</p>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', matchups_path %>
<br />
<br />
